<!DOCTYPE html>
    <head>
        <title>Users</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Site CSS -->
        <link rel="stylesheet" href="css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/custom.css">
      
        <style>
          /* Remove the navbar's default rounded borders and increase the bottom margin */ 
          .navbar {
            margin-bottom: 50px;
            border-radius: 0;
          }
          
          /* Remove the jumbotron's default bottom margin */ 
           .jumbotron {
            margin-bottom: 0;
          }
         
          /* Add a gray background color and some padding to the footer */
          footer {
            background-color: #f2f2f2;
            padding: 25px;
          }
          div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
        </style>
      </head>
      <body>
       <!-- Start Main Top -->
       <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/dashboard"><img src="photos/logo.jpg" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
      
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                       
                        <li class="nav-item"><a class="nav-link" href="/insert">Insert</a></li>
                        <li class="nav-item"><a class="nav-link" href="/display">Display</a></li>
                        <li class="nav-item"><a class="nav-link" href="/offers">Offers</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users">Buyers</a></li>
                        
                       <li class="nav-item ">
                    <!--     <div class="login-box" style="padding-top: 10px;">
                            <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                              <option>Register Here</option>
                              <option>Sign In</option>
                            </select>
                          </div>
                          </li> -->
                        <li class="nav-item"><a href="/logout" class="btn btn-secondary" style="background-color: #adab51; padding-left: 25px;">Logout</a>
                        </li>
                          
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
        </nav>
        <!-- End Navigation -->
      </header>
  <!-- End Main Top -->
  <!-- Start All Title Box -->
  <div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Users List</h2>
                
            </div>
        </div>
    </div>
  </div>
  <!-- End All Title Box -->
  
  
<div class="container-fluid"   >
    <div class="table-data" style="padding: 50px 300px 50px 0px;" align="center" >
        <font size="3" face="times new roman"  style=" font-weight: lighter;"  >
        <h2 style="font-weight: bold;">Users</h2>
        
            <table class="table table-dark" border="1" >
                <thead>
                <tr>
                    <th>Sl.no</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>

           
                
                <%
                if(userData.length!=0){
                var i=1;
                userData.forEach(function(data){
                if(data.role=='customer'){
                %>
                <tr>
                    <td><%=i%></td>
                    <td><%=data.name %></td>
                    <td><%=data.email %></td>
                    <td><%=data.phone %></td>
                    <td ><%=data.address %></td>
                </tr>
                <%  i++; } }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </tbody>
            </table>
        
            </div>
        </div>
            

            <!-- Start Footer  -->

<footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box" style="padding-top: 10px;">
							<h3 style="font-weight:bold">Business Time</h3>
							<ul class="list-time">
								<li>24/7 service</li> <li>Delivery: 10AM-10PM</li> 
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
						<div class="footer-widget">
                            <h4>About Freshshop</h4>
                            <p>Kochi’s first comprehensive online megastore, shopify.com, brings you everything you need to stock your shelves, right at a click away.</p> 
							<p>Online grocery shopping has never been easier. Need things fresh? Whether it’s fruits and vegetables or dairy and meat, we have this covered as well! Get fresh eggs, meat, fish and more online at your convenience. Hassle-free Home Delivery options </p> 							
                        </div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact" style="padding-left: 120px;">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: TMRA-114, MG Road Kochi,<br> Kerala </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contact@shopify.com</a></p>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
				<hr>           
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
  <!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">ThewayShop</a> Design By :
        <a href="https://html.design/">html design</a></p>
  </div>
  <!-- End copyright  -->
  
  <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
  
  <!-- ALL JS FILES -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- ALL PLUGINS -->
  <script src="js/jquery.superslides.min.js"></script>
  <script src="js/bootstrap-select.js"></script>
  <script src="js/inewsticker.js"></script>
  <script src="js/bootsnav.js."></script>
  <script src="js/images-loded.min.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/baguetteBox.min.js"></script>
  <script src="js/form-validator.min.js"></script>
  <script src="js/contact-form-script.js"></script>
  <script src="js/custom.js"></script>
  
        </body>
        </html>    

